<div class="container">
  <h1>Test google maps</h1>
  <button class="btn btn-primary" (click)="transports = !transports" *ngIf="!transports">Afficher les transports</button>
  <button class="btn btn-primary" (click)="transports = !transports" *ngIf="transports">Cacher les transports</button>
    <google-map [options]="mapOptions">
      <div *ngIf="transports">
        <map-transit-layer></map-transit-layer>
      </div>
      <map-marker *ngFor="let marker of markers" [position]="marker.position" [icon]="marker.icon"></map-marker>
   </google-map>
    <map-info-window>Info Window content</map-info-window>
</div>